@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

body {
    /* text-align: center; */
    height: fit-content;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    color: black;
    /* postion elements using flexbox */
    display: flex;
    justify-content: left;
    height: 3rem;
    padding: 10px;
    position: fixed;
    /* backdrop-filter: blur(3px); */
}

.nav-list {
    list-style-type: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-item {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: #cab9f6;
}

.logo {
    height: 80%;
    padding-top: 5px;
    padding-left: 30px;
}

/* ***************** start of footer section ***************** */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.footer>p {
    margin: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-container {}

.footer-image {
    padding: 20px;
    height: 200px;
}

/* ***************** start of introduction section ***************** */

.dev-intro {
    height: 100vh;
    background-position: top;
    display: block;
    background-image: linear-gradient(#354f52 10%, #52796f 20%, #84a98c 60%, #ffe6a7 100%);
    animation: bg-animation-dev 5s infinite alternate;
    background-size: 300% 300%;
}

.iter-intro {
    height: 100vh;
    background-position: top;
    display: block;
    background-image: linear-gradient(#e3ffe7 30%, #d9e7ff 40%, #b1ccfb 60%);
    animation: bg-animation-dev 5s infinite alternate;
    background-size: 300% 300%;
}

.resp-intro {
    height: 100vh;
    background-position: top;
    display: block;
    background-image: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
    animation: bg-animation 5s infinite alternate;
    background-size: 300% 300%;
}

.persona-intro {
    height: 100vh;
    background-position: top;
    display: block;
    background-image: linear-gradient(132deg, #FAACA8 0%, #DDD6F3 100%);
    animation: bg-animation 5s infinite alternate;
    background-size: 300% 300%;
}

/*animation that moves the gradient background image*/
@keyframes bg-animation {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

@keyframes bg-animation-dev {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}


.intro-text-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-padding {
    padding: 200px;
    height: 200px;
}

.intro-text {
    background-color: #eff0f3;
    border-radius: 15px;
    width: 600px;
    text-align: center;
    box-shadow: 3px 8px 23px 0px rgba(0, 0, 0, 0.49);
    font-family: 'IBM Plex Sans', sans-serif;
}

.intro-h1 {
    font-weight: 500;
}

.intro-h3 {
    font-weight: 300;
}

.intro-image {
    width: 70%;
    border-radius: 15px;
    box-shadow: 3px 8px 23px 0px rgba(0, 0, 0, 0.49);
}

/* ***************** start of title section ***************** */
.title-section {
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 60px;
}

.title-info {
    font-weight: 400;
    text-align: left;
    margin-top: 70px;
    width: 25%;
}

.title-left-col {
    text-align: left;
    width: 50%;
}

.title-heading {
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 35px;
}

.title-overview {
    color: #1E5945;
}

.title-overview-iter {
    color: #0085FF;
}

.title-overview-resp {
    color: #FFAE63;
}

.info-resp>h4 {
    color: #FFAE63;
}

.title-overview-pers {
    color: #FF6363;
}

.info-pers>h4 {
    color: #FF6363;
}

.info-div>h4 {
    margin-bottom: 0;
}

.info-iter>h4 {
    color: #0085FF;
}

.info-dev>h4 {
    color: #1E5945;
}

.info-div>p {
    margin-top: 3px;
}

.overview-image {
    margin-bottom: 30px;
}

/* ***************** start of work section ***************** */
.work-section {
    display: flex;
    justify-content: center;
}

.work-container {
    width: 70%;
}

.sub-section {
    text-align: left;
    font-family: 'IBM Plex Sans', sans-serif;
}

.work-section-title {
    font-weight: 500;
}

.list-outer {
    list-style: decimal;
    padding: 5px;
}

.list-inner {
    list-style: lower-alpha;
}

.list-indent {
    list-style: none;
}

.p-bold {
    font-weight: bold;
    color: rgb(61, 59, 59);
}

.email-img {
    border: 1px solid #eff0f3;
}

/* personas */
.image-container {
    display: flex;
    justify-content: center;
}

.persona-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.persona-image {
    width: 470px;
    border-radius: 10px;
    /* box-shadow: 3px 8px 23px 0px rgba(0, 0, 0, 0.49); */
}

.storyboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 10px;
}

.panel-image {
    width: 480px;
    border-radius: 10px;
    /* box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.49); */
}

.microwave-image {
    border-radius: 10px;
    /* box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.49); */
}

/* iterative design */
.wireframe {
    width: 800px;
    border-radius: 10px;
    box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.49);
}

.image-full-width {
    width: 100%;
    border-radius: 15px;
    transition: 0.3s;
}

.image-full-width:hover {
    box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.49);
}

.image-full-width-no-shadow {
    width: 100%;
    background-color: #eff0f3;
    border-radius: 15px;
}

.section-full-width {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.image-clear {
    width: 100%;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    /* height: 100%; */
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-col-4 {
    grid-column: span 4;
}

.persona-grid {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 70vw;
}

.grid-panel>img {
    width: 100%;
}

.grid-panel>p {
    margin: 0;
}

.resp-grid {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: fit-content;
    gap: 16px;
    /* width: 70vw; */
}

.resp-grid>img {
    width: 100%;
    grid-column: span 2;
}

/************** Courosel ***************/

.carousel-container {
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

/**************** Arrow **************/
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
}

.box>span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box>span:nth-child(1) {
    animation-delay: -0.2s;
}

.box>span:nth-child(2) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}